.btn {
    font-family: arial;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: uppercase;
    background: #fc5185;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 24px;
    box-shadow: 0 0 60px -10px #CD106E;
    transition: all .3s;
    text-decoration: none;
  }